* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* Footer */
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0eb90e;
  padding: 10px; }
  footer .footer__lista {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px; }
  footer .footer__item {
    display: flex;
    display: inline; }
  footer .footer__img {
    margin: 2px;
    width: 40px; }

/* --Grid en index-- */
.grid__container {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  background-color: #0eb90e;
  grid-template-columns: 300px 200px 200px;
  grid-template-rows: 220px 420px 340px;
  grid-template-areas: "text item1 item2" "text item3 item3" "text item4 item4"; }
  .grid__container div {
    margin: 2px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid #0eb90e; }
    .grid__container div:hover {
      transform: scale(1.05);
      transition: 0.20s; }

/* Items grid index */
.item__texto {
  padding: 20px;
  grid-area: text;
  font-size: 28px;
  grid-row: 1 / 3;
  text-align: left; }

.item__1 {
  grid-area: item1;
  background-image: url(../resources/hotas1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 2 / 3; }

.item__2 {
  grid-area: item2;
  background-image: url(../resources/hotas2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 3 / 4; }

.item__3 {
  grid-area: item3;
  background-image: url(../resources/hotas3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 2 / 4; }

.item__4 {
  grid-area: item4;
  background-image: url(../resources/hotas4.jpg);
  background-repeat: no-repeat;
  background-size: 505px auto;
  background-position: center;
  grid-column: 1 / 4; }

/* --Grid en contactos-- */
.grid__container--contactos {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  display: grid;
  background-color: #0eb90e;
  grid-template-columns: 400px 110px;
  grid-template-rows: repeat(4, 110px);
  grid-template-areas: "wsptxt img1" "fbtxt img2" "igtxt img3" "ldtxt img4"; }
  .grid__container--contactos div {
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid #0eb90e; }

/* Items grid contactos */
/* imgs */
.img__1 {
  grid-area: img1;
  background-image: url(../resources/whatsapp.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat; }

.img__2 {
  grid-area: img2;
  background-image: url(../resources/facebook.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat; }

.img__3 {
  grid-area: img3;
  background-image: url(../resources/instagram.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat; }

.img__4 {
  grid-area: img4;
  background-image: url(../resources/linkedin.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat; }

/* Txts */
.txt__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: wsptxt;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace; }
  .txt__1:hover {
    transform: scale(1.4);
    transition: 0.20s; }

.txt__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: fbtxt;
  font-size: 37px;
  font-family: 'Courier New', Courier, monospace; }
  .txt__2:hover {
    transform: scale(1.4);
    transition: 0.20s; }

.txt__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: igtxt;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace; }
  .txt__3:hover {
    transform: scale(1.4);
    transition: 0.20s; }

.txt__4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: ldtxt;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace; }
  .txt__4:hover {
    transform: scale(1.4);
    transition: 0.20s; }

/* medida celular */
@media (min-width: 320px) and (max-width: 575px) {
  /*--Grid en contactos  */
  .grid__container--contactos {
    margin: 12px;
    padding: 5px;
    grid-template-columns: 175px 110px;
    grid-template-rows: repeat(4, 110px); }
  .txt__1 {
    font-size: 19px;
    padding: 15px;
    display: flex;
    align-items: center; }
  .txt__2 {
    font-size: 17px;
    padding: 10px;
    display: flex;
    align-items: center; }
  .txt__3 {
    font-size: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .txt__4 {
    font-size: 19px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
  /* --Grid en index-- */
  .grid__container {
    width: fit-content;
    margin: 15px;
    padding: 5px;
    grid-template-columns: 135px 123px;
    grid-template-rows: 225px 195px 255px 200px 175px;
    grid-template-areas: "text text" "item1 item1" "item2 item2" "item3 item3" "item4 item4"; }
  .item__texto {
    padding: 5px;
    grid-area: text;
    font-size: 17px;
    grid-row: 1 / 2;
    text-align: left; }
  .item__1 {
    grid-column: 1 / 3;
    background-size: 250px; }
  .item__2 {
    grid-column: 1 / 3;
    background-size: 250px; }
  .item__3 {
    grid-column: 1 / 3;
    background-size: 250px; }
  .item__4 {
    background-size: 250px;
    grid-row: 5 / 6; }
  /* sobre-nosostros */
  .img__sn {
    width: 300px; }
  .article__conocenos {
    display: flex;
    flex-direction: column;
    font-size: 1.1em; }
  /* ubicanos */
  .mapa {
    border-radius: 5px;
    background-color: #0eb90e;
    width: 300px;
    height: 300px;
    margin: 8px;
    padding: 5px; }
  /* productos */
  .video__productos {
    width: 300px;
    margin: 10px; }
  /* footer */
  footer {
    justify-content: space-around;
    align-items: center; }
  /* bootstrap */
  .carrusel {
    width: 75%; }
    .carrusel img {
      width: auto;
      height: 200px;
      max-height: 200px; } }

@media (min-width: 576px) and (max-width: 1200px) {
  /* --Grid en index-- */
  .grid__container {
    width: fit-content;
    margin: 15px;
    padding: 5px;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 130px 195px 250px;
    grid-template-areas: "text text text" "item1 item1 item2" "item4 item4 item3"; }
  .item__texto {
    padding: 10px;
    grid-area: text;
    font-size: 17px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: left; }
  .item__1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-size: 250px; }
  .item__2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-size: 187px; }
  .item__3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-size: 200px; }
  .item__4 {
    background-size: 400px;
    grid-row: 3 / 4;
    grid-column: 2 /4; }
  /* sobre-nosostros */
  .img__sn {
    width: 500px; }
  .article__conocenos {
    display: flex;
    flex-direction: column;
    font-size: 2.1em;
    margin: 10px; }
  /* productos */
  .video__productos {
    height: 400px;
    width: 400px;
    margin: 10px; }
  /* Ubicanos/encuentranos */
  .mapa {
    border-radius: 5px;
    background-color: #0eb90e;
    width: 300px;
    height: 300px;
    margin: 8px;
    padding: 5px; }
  /* footer */
  footer {
    justify-content: space-around;
    align-items: center; }
  /* bootstrap */
  .carrusel {
    width: auto; } }

header {
  margin-bottom: 50px; }

/* MAIN */
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

article {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-direction: row; }

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace; }

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #0eb90e;
  padding: 5px;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace; }

p {
  border-radius: 10px;
  background-color: #0eb90e;
  font-family: 'Courier New', Courier, monospace;
  padding: 0px 0px 0px 20px; }

body {
  background-color: #919191; }

.body__img {
  width: 500px;
  background-color: #0eb90e;
  padding: 10px;
  display: inline; }

/* conocenos */
.article__conocenos {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 10px; }

.img__sn {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #0eb90e; }
  .img__sn:hover {
    transform: scale(1.1);
    transition: 0.20s; }

/* ubicanos/encuentranos */
.section__encuentranos {
  height: 100vh;
  display: flex;
  align-items: center; }

.mapa {
  height: 80%;
  width: 1500px;
  border-radius: 5px;
  background-color: #0eb90e;
  margin: 8px;
  padding: 5px; }

/* Bootstrap */
.navbar {
  background-color: #0eb90e; }

.nav-item {
  font-size: 20px; }

/* carrusel */
.carrusel {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center; }
  .carrusel img {
    width: 750px;
    padding: 50px; }
