@import "extend";

/* --Grid en index-- */
.grid{
    &__container{
        margin: 10px;
        border-radius: 10px;
        padding: 5px;
        display: grid;
        background-color: rgb(14, 185, 14);
        grid-template-columns: 300px 200px 200px;
        grid-template-rows: 220px 420px 340px;
        grid-template-areas:"text item1 item2"
                            "text item3 item3"
                            "text item4 item4" ;
            & div{
                margin: 2px;
                border-radius: 10px;
                background-color: black;
                color: white;
                border: 2px solid rgb(14, 185, 14);

                    &:hover{
                        transform: scale(1.05);
                        transition: 0.20s;
                    }
            }
    }


    
}
/* Items grid index */

.item{
    
    &__texto{
        padding: 20px;
        grid-area: text;
        font-size: 28px;
        grid-row: 1 / 3;
        text-align: left;
    }

    &__1{
        @extend %gridsimg;
        grid-area: item1;
        background-image: url(../resources/hotas1.jpg) ;
        grid-column: 2 / 3;
    }

    &__2{
        @extend %gridsimg;
        grid-area: item2;
        background-image: url(../resources/hotas2.jpg);
        grid-column: 3 / 4;
    }

    &__3{
        @extend %gridsimg;
        grid-area: item3;
        background-image: url(../resources/hotas3.jpg);
        grid-column: 2 / 4;
    }

    &__4{
        @extend %gridsimg;
        grid-area: item4;
        background-image: url(../resources/hotas4.jpg);
        grid-column: 1 / 4;
    }
}

/* --Grid en contactos-- */

.grid__container--contactos{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    background-color: rgb(14, 185, 14);
    grid-template-columns: 400px 110px;
    grid-template-rows: repeat(4, 110px);
    grid-template-areas: "wsptxt img1"
                         "fbtxt img2"
                         "igtxt img3"
                         "ldtxt img4";


    & div{
        border-radius: 10px;
        background-color: black;
        color: white;
        border: 2px solid rgb(14, 185, 14);
    }
}
/* Items grid contactos */

/* imgs */

.img{

    &__1{
        grid-area: img1;
        background-image: url(../resources/whatsapp.png) ;
        @extend %grids__img--contactos;
    }

    &__2{
        grid-area: img2;
        background-image: url(../resources/facebook.png) ;
        @extend %grids__img--contactos;
    }

    &__3{
        grid-area: img3;
        background-image: url(../resources/instagram.png) ;
        @extend %grids__img--contactos;
    }

    &__4{
        grid-area: img4;
        background-image: url(../resources/linkedin.png) ;
        @extend %grids__img--contactos;
    }
}

/* Txts */

.txt{

    &__1{
        grid-area: wsptxt;
        @extend %grids__txt--contactos;
    
        &:hover{
            @extend %hover__txt;
        } 
    }  

    &__2{
        grid-area: fbtxt;
        @extend %grids__txt--contactos;

        &:hover{
            @extend %hover__txt;
        }
    }

    &__3{
        grid-area: igtxt;
        @extend %grids__txt--contactos;
    
        &:hover{
            @extend %hover__txt;
        }
    }

    &__4{
        grid-area: ldtxt;
        @extend %grids__txt--contactos;
    

        &:hover{
            @extend %hover__txt;
        }
    }
}