*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "footer";
@import "grids";
@import "mediaqueries";
@import "variables";

header{
    margin-bottom: 50px;
}

/* MAIN */

.nav-brand{
    margin: 0px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

article{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $colorpag;
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    border-radius: 10px;
    background-color: $colorpag;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 0px 0px 20px;
}

body{
    background-color: rgb(145, 145, 145);
}

.body__img{
    width: 500px;
    background-color: $colorpag;
    padding: 10px;
    display: inline;
}

/* conocenos */

.p__conocenos{
    margin: 10px;
    padding: 10px;
}

.article__conocenos{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.img{

    &__sn{
        max-height: 500px;
        max-width: 500px;
        border-radius: 5px;
        padding: 10px;
        background-color: $colorpag;

    &:hover{
        transform: scale(1.1);
        transition: 0.20s;
    }
    }
}

/* ubicanos/encuentranos */

.section__encuentranos{
    height: 100vh;
    display: flex;
    align-items: center;
}

.mapa{
    height: 80%;
    width: 1500px;
    border-radius: 5px;
    background-color: $colorpag;
    margin: 8px;
    padding: 5px;
}

/* Bootstrap */

.navbar{
    background-color: $colorpag;
}

.nav-item{
    font-size: 20px;
}
/* Productos */



.card{
    background-color: $colorpag;
    height: 470px;
    width: 312px;
    margin: 100px;
    padding: 5px;


    &-text{
        background-color: white;
        font-size: 17px;
    }

    &-img-top{
        border-radius: 5px;
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &-deck{
        padding-bottom: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.main__productos{
    height: 100vh;
}