*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "footer";
@import "grids";
@import "mediaqueries";
@import "variables";

header{
    margin-bottom: 50px;
}

/* MAIN */

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

article{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $colorpag;
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    border-radius: 10px;
    background-color: $colorpag;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 0px 0px 20px;
}

body{
    background-color: rgb(145, 145, 145);
}

.body__img{
    width: 500px;
    background-color: $colorpag;
    padding: 10px;
    display: inline;
}

/* conocenos */

.article__conocenos{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 10px;
}

.img{

    &__sn{
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        background-color: $colorpag;

    &:hover{
        transform: scale(1.1);
        transition: 0.20s;
    }
    }
}

/* ubicanos/encuentranos */

.section__encuentranos{
    height: 100vh;
    display: flex;
    align-items: center;
}

.mapa{
    height: 80%;
    width: 1500px;
    border-radius: 5px;
    background-color: $colorpag;
    margin: 8px;
    padding: 5px;
}

/* Bootstrap */

.navbar{
    background-color: $colorpag;
}

.nav-item{
    font-size: 20px;
}

/* carrusel */

.carrusel{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    img {
        width: 750px;
        padding: 50px;
    }
}

